<section class="footer d-flex justify-content-around">
  <div class="footer-section">
    <p class="footer-title">
      ՀԱՊՀ - ԳՅՈՒՄՐՈՒ ՄԱՍՆԱՃՅՈՒՂ
    </p>
    <p>© 2022 Բոլոր Հեղինակային Իրավունքները Պաշտպանված են:</p>
  </div>
  <div class="footer-section">
    <p class="footer-title">
      Մենք սոց․ կայքերում
    </p>
    <div class="socials">
      <i class="fa-brands fa fa-twitter"></i>
      <i class="fa-brands fa fa-facebook"></i>
      <i class="fa-brands fa fa-youtube"></i>
    </div>
  </div>
  <div class="footer-section">
    <p class="footer-title">
      Հետադարձ կապ
    </p>
    <p>
      <strong>Հասցե։</strong> Մհեր Մկրտչյան 2 <br>
      <strong>Էլ․ հասցե։</strong> gyumri@polytechnic.am
    </p>
    <p> <strong>Հեռ․։</strong> +374(312) 4-35-28</p>
  </div>
</section>
